@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
.accent {
  color: #EC1C24;
}

.primary {
  color: #00ADEE;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: initial;
}

.highlight {
  color: #EC1C24;
}

h1 {
  font-size: 2.5rem;
  font-weight: 900;
}

body {
  background-color: transparent;
  z-index: 0;
  background: linear-gradient(rgba(0, 173, 238, 0.5), rgba(0, 173, 238, 0.7)), url("../img/home-top.jpg") center/cover no-repeat;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main {
  position: relative;
  overflow-y: scroll;
  top: 100px;
  height: calc(100vh - 100px);
}

nav {
  height: 100px;
  width: 100%;
  padding: 10px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
nav .logo {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}
nav .logo img {
  height: 100%;
  aspect-ratio: 1;
}
nav .logo .text {
  text-align: end;
}

.menu {
  display: flex;
  list-style-type: none;
  gap: 20px;
}
.menu a {
  display: inline-block;
  position: relative;
  color: white;
  padding-bottom: 10px;
  border-bottom: 2px transparent solid;
  transition: all 2s;
  font-size: 1.5rem;
  font-weight: 500;
}
.menu a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #EC1C24;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.menu a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

section.section {
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100%;
  width: 100%;
}
section.section .filter {
  height: 100%;
  width: 100%;
}

.info-box-group {
  display: grid;
  grid-template-columns: repeat(2, 300px);
  gap: 20px;
}

.info-box {
  height: 200px;
  width: 300px;
  perspective: 1000px;
}
.info-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.info-box .front,
.info-box .back {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}
.info-box .front {
  background: rgba(0, 0, 0, 0.24);
  backdrop-filter: blur(10px);
}
.info-box .back {
  background-color: #EC1C24;
  transform: rotateY(180deg);
}
.info-box .icon {
  color: #EC1C24;
  font-size: 2rem;
}
.info-box .title {
  color: #fff;
  font-style: normal;
}
.info-box:hover .info-box-inner {
  transform: rotateY(180deg);
}

.flat-btn {
  border: none;
  outline: none;
  background-color: #EC1C24;
  color: #fff;
}

.large-btn {
  padding: 30px 70px;
  font-size: 1.5rem;
  font-weight: 500;
}

.title {
  font-style: italic;
  font-weight: 900;
}

.main-text {
  color: #fff;
  width: 700px;
}

#home-1 {
  padding: 50px;
}
#home-1 button {
  position: absolute;
  bottom: 0;
  left: 100px;
}

#home-2 .data {
  margin: auto;
  max-width: 1000px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  text-align: justify;
  color: #fff;
}
#home-2 .data .info {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 50px 10px;
}
#home-2 .data .info h5 {
  font-weight: 400;
}
#home-2 .data h2,
#home-2 .data h5 {
  margin-bottom: 10px;
}
#home-2 .data h2 {
  font-size: 1.5rem;
}
#home-2 .data h5 {
  font-size: 1.25rem;
  font-weight: 300;
}

/*# sourceMappingURL=style.css.map */
